
{% extends "base.html" %}


{% block title %}
    <title>About Us - TaskMate</title>
{% endblock title %}


{% block content %}
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Tasks</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
                {% for obj in all_tasks %}
                <tr>
                    <td>{{obj.task}}</td>
                    <td>{{obj.done}}</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                {% endfor %}
        </tbody>
      </table>    
</div>

{% endblock content %}